.viz-graphs {
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 50px;
}

.viz-graphs div {
  padding-bottom: 50px;
}

.viz-description {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  /*background-color: #eeeeee;*/
}

.content {
  line-height: 200%;
  font-size: 16px;
  text-align: start;
  text-indent: 5%;
  margin: 0 auto;
  width: 85%;
  font-family: "Quicksand", sans-serif;
}

#Population,
#Income,
#BirthDeath {
  padding-top: 100px;
}

#intro {
  height: 100vh;
}

h1 {
  font-family: "Quicksand", sans-serif;
  color: #6494db;
  font-size: 50px;
}

#title {
  font-size: 90px;
  color: #6494db;
  margin: auto 0;
}

h2 {
  color: #dbb164;
  text-align: center;
  font-size: 35px;
  /*text-decoration-line: underline;*/
}

.p-icon {
  max-height: 100px;
}

p {
  color: #5c5c5c;
  line-height: 60px;
  font-size: 14px;
  /* background-color: #f5f6f7; */
  padding: 10px;
  /* border-style: solid;
  border-color: #6494db; */
  border-radius: 25px;
  margin: 0;
  text-align: center;
}
