.App {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 100px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#title {
  font-size: 90px;
  color: #6494db;
}

h1 {
  color: #db7664;
  font-size: 50px;
}
h2 {
  color: #dbb164;
  text-align: center;
  font-size: 35px;
  /*text-decoration-line: underline;*/
}

p {
  color: #5c5c5c;
  line-height: 60px;
  font-size: 14px;
  /* background-color: #f5f6f7; */
  padding: 10px;
  /* border-style: solid;
  border-color: #6494db; */
  border-radius: 25px;
  margin: 0;
  text-align: center;
}
.content {
  padding: 20px;
  line-height: 200%;
  font-size: 16px;
  text-align: start;
  margin: 0 auto;
  width: 85%;
}
